body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}

.main {
  display: block;
  width: 87vw;
  margin: 80px 20px 20px 210px;
}

.main .general {
  height: 100%;
  width: 100%;
  background-color: $background-light;
}

.main .links {
  height: 100%;
  width: 100%;
  background-color: $background-light;
}

.top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 189px;
  right: 0;
  height: 60px;
  margin: 0;
  padding: 0;
  position: fixed;
  border-bottom: 1px solid #e3e3e3;
  background-color: $background-light;
}

.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 188px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background-dark;
}

.top-bar ul {
  margin: 0;
  height: 100%;
  text-align: right;
}

.top-bar ul li {
  margin: 0;
  height: 100%;
  display: inline-block;
  border-left: 1px solid #e3e3e3;
}