/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$background-dark: #191919;
$background-light: #ffffff;
$background-grey: #e3e3e3;
$button-orange: #f58220;
$font-light: #9c9c9c;
$font-links: #56819f;
$font-side: #808080;
$font-title: #a6a6a6;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$roboto-font: "Roboto", sans-serif;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;